#main-img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
}
.link {
    margin: auto;
}
.text {
    text-align: center;
}
#obit,
#lstitle {
    width: 80%;
    margin: auto;
}
#livestream {
    margin: 10px 0px 30px 0px;
    text-align: center;
}

#livestream a {
    font-size: 30px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffafb;
    color: #29292b;   
}
#lstitle {
    font-weight: bolder;
}
#video-container {
    text-align: center;
}
#video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    padding-top: 25px;
    height: 0;
    /* margin-top: 30px; */
}
#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
}